.artist {
  margin-top: 30px;
  padding-top: 20px;
  border-bottom: 2px solid #4B737B;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.displayGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding-top: 20px;
}

.displayNone {
  display: none;
}

.nothingFound {
  padding-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .displayGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .displayGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .displayGrid {
    grid-template-columns: 1fr 1fr;
  }
}
