.artist {
  padding-top: 50px;
  border-bottom: 2px solid #4B737B;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 15px;
  padding-top: 20px;
}

.nothingFound {
  padding-top: 50px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .layout {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .layout {
    grid-template-columns: 1fr 1fr;
  }
}
