.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.counters {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 100px));
  gap: 10px;
}

@media screen and (max-width: 800px) {
  .counters {
    grid-template-columns: repeat(3, minmax(0, 70px));
  }
}
