.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
}

.desc {
  padding-bottom: 20px;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.links {
  display: flex;
  gap: 30px;
}

.link {
  font-size: 18px;
  font-style: italic;
  color: #CBCDD1;
  text-decoration: underline;
  text-transform: lowercase;
}

.link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 40px;
  }

  .desc {
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }
}
