@font-face {
  font-family: 'jetbrains', monospace;
  src: url('./src/assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #28292A;
  font-family: "JetBrains Mono", monospace;
  color: #CBCDD1;
}
