.btn {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 25px;
  background: transparent;
  border: none;
  opacity: 0.5;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.btn:hover {
  opacity: 1;
}

.btnRight {
  right: 0
}

.img {
  width: 25px;
  height: 25px;
}
